<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Créer un utilisateur</h4>
      </div>
      <div class="modal-body">
           <form  action="/utilisateurs/ajouter/" method="post" role="form" enctype="multipart/form-data">
               
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="validationDefault01">addres de l'utilisateur</label>
                  <input type="text" class="form-control" name="addres" placeholder="Addres de l'utilisateur" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationDefault02">Cni_ date de l'utilisateur</label>
                  <input type="text" class="form-control" name="cni_date" placeholder="nom de l'utilisateur" required>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="validationDefault03">Cni_expire de l'utilisateur</label>
                  <input type="text" class="form-control" name="cni_expire" placeholder="Cni_expire de l'utilisateur" required>
                </div>
               
                <div class="col-md-6 mb-3">
                  <label for="validationDefault06">cni_no</label>
                  <input type="text" class="form-control" name="cni_no" placeholder="cni_no de l'utilisateur" required>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="validationDefault05">N° Téléphone 1</label>
                  <input type="text" class="form-control" name="tel" placeholder="N° Téléphone 1" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationDefault06">N° Téléphone 2</label>
                  <input type="text" class="form-control" name="tel2" placeholder="N° Téléphone 2" required>
                </div>
              </div>
              <br>
              <div class="row">
               
                <div class="col-md-6 mb-3">
                  <label for="validationDefault08">Cni_place</label>
                  <input type="text" class="form-control" name="cni_place" placeholder="Cni_place"  required>
                </div>

                 <div class="col-md-6 mb-3">
                  <label for="validationDefault04">Cni_scan</label>
                  <input type="text" class="form-control" name="cni_scan" placeholder="password de l'utilisateur" required>
                </div>
              </div>
              <br>
              <div class="row">
               
                <div class="col-md-6 mb-3">
                  <label for="validationDefault08">login</label>
                  <input type="text" class="form-control" name="login" placeholder="Login"  required>
                </div>

                 <div class="col-md-6 mb-3">
                  <label for="validationDefault04">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="password de l'utilisateur" required>
                </div>
              </div>
              <br>
              <div class="row">
               
                <div class="col-md-6 mb-3">
                  <label for="validationDefault08">Nom</label>
                  <input type="text" class="form-control" name="nom" placeholder="Nom"  required>
                </div>

                 <div class="col-md-6 mb-3">
                  <label for="validationDefault04">Prenom</label>
                  <input type="text" class="form-control" name="prenom" placeholder="prenom de l'utilisateur" required>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="validationDefault04">email</label>
                  <input type="text" class="form-control" name="email" placeholder="email de l'utilisateur" required>
                </div>
                <div class="col-md-6 mb-3">
                   <label for="validationDefault07">Groupe</label>
                   <select class="form-control" name="groupeId" >     
                      <% groupelist.forEach(function(todo, index) { %>
                              <option value="<%= todo.id %>"><%= todo.description %></option>
                      <% }); %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="validationDefault04">Images</label>
                  <input type="file" class="form-control" name="filetoupload">
                </div>
                
              </div>
              <br>

              <div class="modal-footer">
                <div class="row">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-danger btn-lg width-100" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Annuler</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-primary btn-lg width-100" type="submit"><span class="glyphicon glyphicon-ok-sign"></span> Enregistrer</button>
                  </div>
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>
